/**
 * Custom styles for the front-page.php template.
 */

.front-header-logo {
    top: 120px;
    width: 487px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
	transform: translateX(-50%);
	position: absolute;
	display: none;
}

.slider .caption-wrapper {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

/*-----------------------------------------
SITE BANNER
------------------------------------------*/
.owl-carousel {
	overflow: hidden;
}
/*.slides {
	height: 100vh;
	background-size: cover;
}*/

.slider .caption-wrapper {
	background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
	bottom: 0;
	color: #fff;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
.slider .caption-wrapper .slider-caption {
	left: 0;
	margin: -120px auto 0;
	position: absolute;
	right: 0;
	top: 50%;
	width: 1170px;
}
/*.slider-title::after {
	border-bottom: 2px solid #fff;
	bottom: -25px;
	content: "";
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 50px;
}*/
.slider-title {
	font-family: "lobster",cursive;
	font-size: 36px;
	line-height: 35px;
	position: relative;
	transform: translateY(20px);
	-webkit-transform: translateY(20px);
	opacity: 0;
	visibility: hidden;
	transition: all ease 0.6s;
	-webkit-transition: all ease 0.6s;
}
.slider-content {
	color: #3091f2;
	font-family: "poppins",sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 47px;
	text-transform: uppercase;
	transform: translateY(20px);
	-webkit-transform: translateY(20px);
	opacity: 0;
	visibility: hidden;
	transition: all ease 0.6s;
	-webkit-transition: all ease 0.6s;
}
.slider-content p {
	margin-bottom: 20px;
	margin-top: 45px;
}
.color-yellow {
	color: #f5b302;
}
.slider-viewmore {
	background: transparent none repeat scroll 0 0;
	border: 2px solid #fff;
	border-radius: 40px;
	display: inline-block;
	font-size: 18px;
	padding: 8px 30px;
	line-height: 1.8;
	text-transform: uppercase;
	transform: translateY(20px);
	-webkit-transform: translateY(20px);
	opacity: 0;
	visibility: hidden;
}
.owl-item.active .slider-viewmore {
	transition-delay: 1.5s;
	-webkit-transition-delay: 1.5s;
}
.slider-viewmore:hover,
.owl-item.active .slider-viewmore:hover {
	background: #fff;
	color: #333;
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
}
.owl-item.active .slider-title,
.owl-item.active .slider-content,
.owl-item.active .slider-viewmore {
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	opacity: 1;
	filter: alpha(opacity=100);
	visibility: visible;
}
.owl-item.active .slider-title {
	transition-delay: 0.5s;
	-webkit-transition-delay: 0.5s;
}
.owl-item.active .slider-content {
	transition-delay: 1s;
	-webkit-transition-delay: 1s;
}
.owl-theme .owl-controls {
	margin-top: 0;
}
.owl-nav .owl-prev,
.owl-nav .owl-next {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border-radius: 0;
	font-size: 12px !important;
	left: 0;
	letter-spacing: 5px;
	margin: -50px 0 0 0;
	opacity: 1;
	padding: 0;
	position: absolute;
	text-transform: uppercase;
	top: 50%;
	color: #333;
	cursor: pointer;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
}
.owl-nav .owl-next {
	left: inherit;
	right: 0;
}
#ed-slider .owl-nav button {
	color: #fff;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}
#ed-slider .owl-nav .owl-prev:before {
	content: "";
	background-image: url('../images/control-stroke.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 1px;
	height: 18px;
	right: -15px;
	top: 0;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
}
#ed-slider .owl-nav .owl-prev:hover:before {
	right: -20px;
}
#ed-slider .owl-nav .owl-prev::after {
	background-image: url('../images/control-arrow.png');
	background-repeat: no-repeat;
	content: "";
	height: 22px;
	left: -25px;
	position: absolute;
	top: -3px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	width: 9px;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
}
#ed-slider .owl-nav .owl-prev:hover::after {
	left: -30px;
}
#ed-slider .owl-nav .owl-next:before {
	background-image: url("../images/control-arrow-up.png");
	background-repeat: no-repeat;
	content: "";
	height: 22px;
	position: absolute;
	right: -20px;
	top: -3px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	width: 9px;

}
#ed-slider .owl-nav .owl-next:hover:before {
	right: -25px;
}
#ed-slider .owl-nav .owl-next::after {
	background-image: url('../images/control-stroke.png');
	background-repeat: no-repeat;
	content: "";
	height: 18px;
	left: -15px;
	position: absolute;
	top: 0;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	width: 1px;
}
#ed-slider .owl-nav .owl-next:hover::after {
	left: -20px;
}
.owl-pagination {
	bottom: 90px;
	position: absolute;
	right: 0;
}
.owl-theme .owl-controls .owl-page span.owl-numbers {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border-radius: 0;
	cursor: pointer;
	font-size: 14px;
	line-height: 18px;
	margin: 2px;
	opacity: 1;
	padding: 3px;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
}
.owl-theme .owl-controls .owl-page span.owl-numbers:hover,
.owl-theme .owl-controls .owl-page.active span.owl-numbers {
	color: #f5b302;
}

.slider-viewmore:hover, .owl-item.active .slider-viewmore:hover {
    background: #fff;
    color: #333;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
}
