/**
 * Custom styles for the front-page.php template.
 */

.front-header-logo {
    top: 120px;
    width: 487px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
	transform: translateX(-50%);
	position: absolute;
	display: none;
}

.slider .caption-wrapper {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
