/**
 * Custom styles for the front-page.php template.
 */

.front-header-logo {
    top: 120px;
    width: 487px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
	transform: translateX(-50%);
	position: absolute;
	display: none;
}
